@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap');

body {
    background-image: url("../assets/armijoSprings.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron {
    background: none;
}
.card {
    background-color: #ffffff51;
}
.jumbotron>h1 {
    color: white;
    font-family: 'Over the Rainbow', cursive;
    background: #474824a1;


}