@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap');

main {
    padding-top: 2em;
    background-image: url("../assets/armijoSprings.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #545454;
}
#headshot {
width: 50%;
}
button {
    font-size: 12px;
}
button>i {
    color: #545454;
}
i {
    color: white;
    padding: 5px;
}
.jumbotron {
    margin-top: 2em;
    color: white;
    background: #474824d1;
}
#jumboP {
    font-size: 25px;
}
#spanP {
    font-weight: lighter;
}
.blockquote>p{
    font-size: larger;
}
h1 {
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Over the Rainbow', cursive;
}
.card, #bio {
    background-color: #ffffffc1;
}
.bg-theme {
    background: #474824d1;
}
#author {
    margin-left: 2em;
    font-size: 12px;
}
.card-header {
    color: white;
    background: #474824d1;
}
#footer {
    text-align: center;
    background: #474824d1;
    height: 100px;
    padding: 2em;
}
