@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Josefin Sans', sans-serif;
}
main {
    padding-top: 2em;
    background-image: url(../assets/clement-m-igX2deuD9lc-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #545454;
}
#headshot {
width: 40%;
}
button {
    font-size: 12px;
}
button>i {
    color: #545454;
}
i {
    color: white;
    margin-right: 1em;
}
.jumbotron {
    margin-top: 2em;
    color: white;
    background: #474824d1;
}
#jumboP {
    font-size: 25px;
    font-weight: lighter;
}
#spanP {
    font-weight: lighter;
}
.card-text {
    font-size: 22px;
}
.blockquote>p{
    font-size: xx-large;
}
h1 {
    margin-bottom: 0;
    font-size: 50px;
    font-weight: bolder;
    /*font-family: 'Over the Rainbow', cursive;*/
}
.card, #bio {
    background-color: #ffffffc1;
}
.bg-theme {
    background: #474824d1;
}
#author {
    margin-left: 2em;
    font-size: 12px;
}
h3 {
    font-weight: lighter;
}
.card-header {
    color: white;
    background: #474824d1;
}
#footer {
    text-align: center;
    background: #474824d1;
    height: 100px;
    padding: 2em;
}

/*<span>Photo by <a href="https://unsplash.com/@cmreflections?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Clément M.</a> on <a href="https://unsplash.com/s/photos/pine-forest?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>*/